@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="http://ia-tech.net/wp-content/uploads/2020/01/IAT_Catalogue_de_stages_2020.pdf">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@