<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPages</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPages.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-sm navbar-light bg-primary" style="height: 60px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"> <img src="~/Images/logo.png" class="w-75" /></a>
@*                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                
                </button> *@
                @*Udemy*@
                @*if (Context.Session.GetString("role") == null)//user is not authenticated
                {*@
                
                     <a class="nav-link style="color: black"> <i class="bi bi-house-heart-fill" class="w-75"></i>Home </a>
        
                    <a class="nav-link style="color: black"> <i class="bi bi-person-lines-fill" class="w-75"></i> About Us </a>
                    
                   <a class="nav-link style="color: black"> <i class="bi bi-envelope-fill" class="w-75"></i> Contact Us </a>
                  <partial name="LoginPartial" />


                @* En faisantt<li class="nav-item">
                <a class="nav-link text-Black" asp-page="/Admin/Users/Register"><i class="bi bi-person-plus"></i> Register</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-Black" asp-page="/Admin/Users/Login"><i class="bi bi-box-arrow-in-right"></i>  Login</a>
                </li>
                @*

                @* }
                @*else if (Context.Session.GetString("role").Equals("admin"))
                {*@

               
                        @* <li class="nav-item dropdown">
                                <button class="btn btn-Black text-Black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-gear"></i> Administration
                                </button>
                                <ul class="dropdown-menu dropdown-menu-Black">
                                    <li><a class="dropdown-item" href="#">Features</a></li>
                                    <li><a class="dropdown-item" href="#">Projets</a></li>
                                    <li><a class="dropdown-item" href="#">Users</a></li>
                                </ul>
                            </li>*@
                        @*
                            <li class="nav-item">
                                <a class="nav-link text-Black"><i class="bi bi-house"></i>  Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-Black" ><i class="bi bi-book-fill" style="color:silver"></i>  Projets</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-Black"><i class="bi bi-patch-check-fill"></i> Tests</a>
                            </li>
                             *@
                       
                @* }

                @*else if (Context.Session.GetString("role").Equals("candidate"))
                {*@

                   @*

                   tawqa
                    <ul class="navbar-nav"style="margin-left:auto;">
                        <li class="nav-item dropdown">
                            <button class="btn btn-Black text-Black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>  User
                            </button>
                            <ul class="dropdown-menu dropdown-menu-Black">
                       <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><a class="dropdown-item" href="#">My Tests</a></li>
                        <li><partial name="LoginPartial" /></li>
                       
                        </li> *@
                    @* <li class="nav-item">
                                <a class="nav-link text-Black"asp-page="Admin/Users/Register"><i class="bi bi-person-plus"></i>  Register</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white" asp-page="Admin/Users/Login" ><i class="bi bi-box-arrow-in-right"></i>  Login</a>
                        </li>

                    </ul>
                }
                @*Udemy*@
            </div>
            </div>
        </nav>
    </header>
    <body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@* 
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - RazorPages - <a asp-area="" asp-page="/Privacy">BrightCodingCourses</a>
        </div>
    </footer> *@
     <section class="py-5">
            <img class="w-100" src="~/img1/illustrations/come-on-join.png" alt="" />
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Come on, join with us !</h6>
                        <p>Create an account and apply for your internship ==>> </><a href="http://ia-tech.net/wp-content/uploads/2020/01/IAT_Catalogue_de_stages_2020.pdf">PFE I@T BOOK </a></p>
                       .</p>
                    </div>
                </div>
            </div>
        </section>
        </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")


</body>
</html>