
@*<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-flex align-items-center fw-bolder fs-2 fst-italic" href="#">
                    <div class="navbar-brand d-flex align-items-center fw-bolder fs-2 fst-italic" href="#">
                     <img src="~/img1/logo.png" alt="Logo" style="height: 60px; width: auto;" /> 
                    </div>

          </a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" hrefAbout us</a></li>
 
            </ul>
            <form class="ps-lg-5">
                        <button class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit" style="background-color: transparent; border-color: transparent; color: black;">Home</button>
                        <button class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit" style="background-color: transparent; border-color: transparent; color: black;">About us</button>
                  <button class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit" style="background-color: transparent; border-color: transparent; color: black;">Contact</button>

                        <button class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit" style="background-color:389AF0;">Sign Up</button>
              <button class="btn btn-lg btn-primary rounded-pill bg-gradient order-0" type="submit">Sign In</button>
            </form>
          </div>
        </div>
      </nav>
        <section class="py-5">
            <img class="w-100" src="~/img1/illustrations/come-on-join.png" alt="" />
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Come on, join with us !</h6>
                        <p>Create an account and apply for your internship. </p>
                    </div>
                </div>
            </div>
        </section>
      </section>
      <section class="py-5">
            
        <!--/.bg-holder-->
            <div class="bg-holder d-none d-sm-block" style="background-image:url(illustrations/hero-bg.png);background-position:right top;background-size:contain;"></div>
        <div class="container">
          <div class="row flex-center">
                    <div class="col-md-5 order-md-0 text-center text-md-start"><img class="img-fluid mb-4" src="~/img1/illustrations/passion.png" width="450" alt="" /></div>
            <div class="col-md-5 text-center text-md-start">
              <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">Find your passion <br /> And achieve success</h6>
                        <p class="my-4 pe-xl-8"> Find an internship that aligns with your interests and skills. The most important aspect is that you can work in line with your passion and aspirations, with the potential for future employment..</p>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

        <div class="container">


          <!-- ============================================-->
          <!-- <section> begin ============================-->
          <section class="py-8">

            <div class="container">
              <div class="row flex-center">
                <div class="col-md-5 order-md-1 text-center text-md-end"><img class="img-fluid mb-4" src="~/img1/illustrations/jobs.png" width="450" alt="" /></div>
                <div class="col-md-5 text-center text-md-start">
                                <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">Numerous projects <br /> find the one that's right<br />          for you</h6>
                                <p class="my-4 pe-xl-8">
                                   <br>
                                    Get your Project tests online,submit your work, and receive results.
                                </p>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->


        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

        
        <!--/.bg-holder-->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 text-center mb-3">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Browse Projects by category</h5>
              <p class="mb-5">Choose from the list of most popular categories</p>
            </div>
          </div>
          <div class="row flex-center h-100">
            <div class="col-10 col-xl-9">
              <div class="row">
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/finance.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Accounting</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/design.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Design/Creative</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/programmer.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Programmer</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/production.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Production</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/education.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Education</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="~/img1/illustrations/consultancy.png" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Consultancy</h6>
                        <p class="mb-0 card-text">100 open position</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      
      <!-- <section> close ============================-->
        <section class="py-0 bg-primary-gradient" style="padding-top: 0; padding-bottom: 0;">
            <div class="bg-holder" style="background-image:url(~/img1/illustrations/footer-bg.png);background-position:center;background-size:cover;">
            </div>
            <!--/.bg-holder-->





            <div class="container-fluid">
                <div class="row justify-content-center" style="margin-top:0; margin-bottom: 0 rem;">
                    <div class="col-lg-10 mb-1 text-center">
                        You can explore our catalog for detailed information about our projects by following this link
                        <a class="display-20 text-white mb-1" style="font-size: 1.5rem; www.I@T.Catalogue href="http://ia-tech.net/wp-content/uploads/2020/01/IAT_Catalogue_de_stages_2020.pdf" target="_blank" class="text-decoration-none"></a>
                              <h1 class="display-20 text-white mb-1" style="font-size: 1.5rem;">www.I@T.Catalogue</h1>
                    </div>
                </div>
            </div>


    </div>
</div>

            


        </section>


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
   
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="~/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
  </body> *@
 
  @page 
  @{
   
}

