@page
@model RazorPages.Pages.Admin.Tasks.AddTaskModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<style>
    .custom-icone img {
        width: 70px; /* ajustez la taille selon vos besoins */
        height: auto; /* permet de conserver les proportions de l'image */
        display: inline-block; /* assure que l'image est alignée avec le texte */
        margin-right: 10px; /* ajustez la marge pour séparer l'image du texte */
    }

    .card {
        max-width: 2000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h4.card-title {
        text-align: center;
        color: #333333;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
    }

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 10px 40px 10px 10px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="6 9 12 15 18 9"></polygon></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        background-color: #22a6b3;
        color: white;
        padding: 10px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        font-size: 14px;
        font-weight: bold;
        outline: none;
    }

        button:hover {
            background-color: #1d8893;
            transform: translateY(-2px);
        }

        button:active {
            transform: translateY(1px);
        }

        button i {
            margin-right: 8px;
        }

    .custom-icon img {
        width: 30px; /* ajustez la taille selon vos besoins */
        height: auto; /* permet de conserver les proportions de l'image */
        display: inline-block; /* assure que l'image est alignée avec le texte */
        margin-right: 10px; /* ajustez la marge pour séparer l'image du texte */
    }

    .input-group-prepend {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding-top: 8px;
    }

    .dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }

    .dialog-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        max-width: 400px;
        z-index: 9900;
        width: 100%;
    }

    .dialog-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .dialog-input {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .dialog-button {
        padding: 10px 20px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }




    .close {
        color: #007bff; /* Bleu */
        opacity: 1; /* Opacité */
        font-size: 24px; /* Taille de la police */
    }


    .selected-skills {
        margin-top: 10px;
    }

        .selected-skills span {
            display: inline-block;
            background-color: #22a6b3;
            color: white;
            border-radius: 5px;
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            position: relative;
            font-size: 14px; /* Ajuste la taille de la police */
            min-width: 100px; /* Définit une largeur minimale pour chaque option */
        }

            .selected-skills span:hover {
                cursor: pointer;
            }

            .selected-skills span::after {
                content: ' | \00D7'; /* Ajoute un séparateur "|" entre le texte de l'option et la croix */
                position: absolute;
                right: 5px; /* Place la croix à droite */
                top: 50%;
                transform: translateY(-50%);
                color: white;
            }

    select[multiple] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
    }

        select[multiple] option {
            padding: 10px;
        }

            select[multiple] option:checked {
                background-color: #4CAF50;
                color: white;
            }

    .new-form-style {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .icon-color {
        color: #189dec !important;
    }
    /* Style pour les icônes dans les champs de formulaire */
    .input-group-text {
        background-color: #e9ecef;
        border-color: #ced4da;
        color: #6c757d;
    }

    select {
        width: calc(100% - 12px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Style pour les boutons */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    h1 {
        color: blue text-align: center;
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: blue;
    }

    input[type="text"],
    input[type="date"],
    textarea {
        width: calc(100% - 12px);
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    textarea {
        resize: vertical;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    input[type="submit"] {
        background-color: #22a6b3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .input-group-prepend {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        padding-top: 8px;
    }

    input[type="submit"]:hover {
        background-color: #021438;
    }


    /* Style pour les boutons */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 30px; /* Arrondir les coins */
        cursor: pointer;
        transition: all 0.3s ease;
    }

    /* Style pour le bouton Ajouter */
    .btn-add {
        background-color: #22a6b3; /* Couleur bleue */
        color: #fff;
    }

    /* Style pour le bouton Annuler */
    .btn-cancel {
        background-color: #021438; /* Couleur foncée */
        color: #fff;
    }

    /* Style pour les icônes à l'intérieur des boutons */
    .btn i {
        margin-left: 5px;
    }

    .card-title {
        color: #021438; /* Couleur du texte */
        font-size: 29px; /* Taille de la police */
        font-weight: bold; /* Gras */
        margin-bottom: 20px; /* Espacement en bas */
        text-transform: uppercase; /* Convertit le texte en majuscules */
        /* Ombre du texte */
        letter-spacing: 1px; /* Espacement des lettres */
        /* Bordure inférieure */
        padding-bottom: 10px; /* Espacement en bas */
    }

    .card-title {
        margin-right: 10px; /* Espacement entre l'icône et le texte */
        color: #021438; /* Couleur de l'icône */
    }

    /* Style pour les messages d'erreur */
    .form-error {
        color: #dc3545;
        margin-top: 5px;
        font-size: 12px;
    }

    /* Style pour les icônes d'œil */
    .eye-icon {
        cursor: pointer;
    }
    /* Style pour les boutons avec arrière-plan et icônes */
    .btn-primary,
    .btn-light {
        background-color: blue;
        border: none;
        color: white;
    }


    /* Style pour les boutons sans bordure */
    .no-border {
        border: none;
    }

    /* Style pour les icônes Font Awesome en blanc */
    .blue-icon {
        color: white;
    }

    /* Espacement entre l'icône et le texte */
    .btn-primary i,
    .btn-light i {
        margin-right: 5px;
    }


    .text-primary {
        color: blue !important;
    }

    .form-error {
        color: red; /* Couleur du texte en rouge */
        font-size: 0.875rem; /* Taille de la police */
        margin-top: 0.25rem; /* Marge supérieure */
    }

    .error-input {
        border-color: red !important; /* Couleur de la bordure en rouge */
    }
    /* Style pour les icônes d'œil */
    .eye-icon {
        color: #6c757d; /* Couleur grise pour l'icône d'œil */
        cursor: pointer; /* Curseur pointeur pour indiquer qu'il est cliquable */
    }

    .custom-title-style {
        color: blue !important; /* Changez la couleur selon vos préférences */
        font-size: 24px !important; /* Modifiez la taille de la police selon vos préférences */
        /* Ajoutez d'autres styles personnalisés selon vos besoins */
    }

</style>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sofbox - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images1/favicon.ico" />
    <!-- Bootstrap /css1 -->
    <link rel="stylesheet" href="/css1/bootstrap.min.css">
    <!-- Typography /css1 -->
    <link rel="stylesheet" href="/css1/typography.css">
    <!-- Style /css1 -->
    <link rel="stylesheet" href="/css1/style.css">
    <!-- Responsive /css1 -->
    <link rel="stylesheet" href="/css1/responsive.css">
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="index.html">
                    <img src="/images1/logo.png" class="img-fluid" alt="">

                </a>
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="line-menu half start"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu half end"></div>
                    </div>
                </div>
            </div>
            <div id="sidebar-scrollbar">


                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="iq-menu-title"><i class="ri-separator"></i><span>Main</span></li>
                        <li class="">
                            <a asp-page="/Index" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-home-4-line"></i><span>Dashboard </span></a>




                        <li class="">

                            <a href="#depart" data-toggle="collapse" class="iq-waves-effect ">
                                <i class="ri-home-4-line"></i>
                                <span>Department</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a>

                        <li class=""><a asp-page="/Admin/Books/AddOrEdit">Department Add</a></li>
                        <li class=""><a asp-page="/Admin/Books/Index">Department List</a></li>

                        </li>




                            @* <a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                        <i class="ri-book-line"></i>
                        <span>Tasks</span>
                        <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                        </a> *@
                        <li>
                            <a href="#task" data-toggle="collapse" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                                <i class="ri-pencil-line"></i>

                                <span>Tasks</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a>


                            <ul id="task" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class="active"><a asp-page="/Admin/Tasks/AddTask">Tasks Add</a></li>
                                <li class=""><a asp-page="/Admin/Tasks/AddTask">Tasks List</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#projet" data-toggle="collapse" class="iq-waves-effect "><i class="ri-folder-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="projet" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a asp-page="/Admin/Projects/AddOrEdit">Project Add</a></li>
                                <li class=""><a asp-page="/Admin/Projects/Index">Project List</a></li>
                            </ul>
                        </li>
                            @*   // <li class="active"><a href="todo.html" class="iq-waves-effect "><i class="ri-chat-check-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a></li>

                        *@

                        @* <li>
                            <a href="#user-info" data-toggle="collapse" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-line"></i><span>Candidat</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a asp-page="/PP/Index">Candidat List</a></li>
                            </ul>
                        </li> *@

                    </ul>
                </nav>

                <div class="p-3"></div>
            </div>
        </div>
        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <div class="iq-sidebar-logo">
                    <div class="top-logo">
                        <a href="index.html" class="logo">
                            <img src="/images1/logo.png" class="img-fluid" alt="">
                            <span>Innov-Alliance-Tech</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-breadcrumb">
                    <h5 class="mb-0">Dashboard</h5>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Task  </li>
                        </ul>
                    </nav>

                </div>
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="iq-menu-bt align-self-center">
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">

                            <li class="nav-item dropdown">

                                <div class="iq-sub-dropdown">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">All Messages<small class="badge  badge-light float-right pt-1">5</small></h5>
                                            </div>

                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="/images1/user/01.jpg" alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Nik Emma Watson</h6>
                                                    <small class="float-left font-size-12">13 Jun</small>
                                                </div>
                                            </div>

                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                    </div>
                                                </div>
                                            </a>



                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">


                                <div class="iq-sub-dropdown">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-danger p-3">
                                                <h5 class="mb-0 text-white">All Notifications<small class="badge  badge-light float-right pt-1">4</small></h5>
                                            </div>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New Order Recieved</h6>
                                                        <small class="float-right font-size-12">23 hrs ago</small>
                                                        <p class="mb-0">Lorem is simply</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/01.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Emma Watson Nik</h6>
                                                        <small class="float-right font-size-12">Just Now</small>
                                                        <p class="mb-0">95 MB</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New customer is join</h6>
                                                        <small class="float-right font-size-12">5 days ago</small>
                                                        <p class="mb-0">Jond Nik</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40" src="/images1/small/jpg.svg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Updates Available</h6>
                                                        <small class="float-right font-size-12">Just Now</small>
                                                        <p class="mb-0">120 MB</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item iq-full-screen"><a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a></li>
                        </ul>
                    </div>
                    <ul class="navbar-list">
                        <li>
                            <a href="#" class="search-toggle iq-waves-effect bg-primary text-white"><img src="/images1/user/user-2.jpg" class="img-fluid rounded" alt="user"></a>
                            <div class="iq-sub-dropdown iq-user-dropdown">
                                <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white line-height">Hello Nik jone</h5>
                                            <span class="text-white font-size-12">Available</span>
                                        </div>
                                        <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-user-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">My Profile</h6>
                                                    <p class="mb-0 font-size-12">View personal profile details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-success-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-success">
                                                    <i class="ri-profile-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Edit Profile</h6>
                                                    <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="account-setting.html" class="iq-sub-card iq-bg-primary-danger-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-danger">
                                                    <i class="ri-account-box-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Account settings</h6>
                                                    <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-secondary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-secondary">
                                                    <i class="ri-lock-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Privacy Settings</h6>
                                                    <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="iq-bg-danger iq-sign-btn" href="sign-in.html" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title">Add Task</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <div class="table-responsive">
                                    <div class="row justify-content-between">
                                    </div>




                                    @*  //Add a card from Boostrap , card=featured   bg-success:vert *n'oubliez pas que c'est un formulaire ==> la balise form et la methode pour l'envoi de formulaire est post // *@
                                    <div class="" style="margin:auto">
                                        <div class="card-header bg-info text-white" style="background-color: #578ee5 !important ;font-weight:bold;">
                                            <i class="bi bi-plus-square"></i>  New  Task

                                        </div>
                                    </div>
                                </div>


                                <form id="testForm" method="post" action="/api/test/submit_test">
                                    <div class="">
                                        <div class="">
                                            <div class="">
                                                <div class="">
                                                    <div class="">
                                                        <h4 class="card-title">
                                                            <span class="icon-color ">
                                                                The Task Forum
                                                            </span>
                                                        </h4>

                                                        <label for="testTitle">Task title:</label><br>
                                                        <input type="text" id="testTitle" name="Title" required><br>

                                                        <label for="testDescription">Task Description</label><br>
                                                        <textarea id="testDescription" name="Description" rows="4" cols="50" required></textarea><br>
                                                        @*Before beginning the 30-minute test, familiarize yourself with the following instructions: This test is designed to assess your understanding of fundamental concepts in artificial intelligence (AI) and your ability to apply them in technical contexts. It consists of multiple-choice and single-choice questions covering topics such as supervised and unsupervised learning, overfitting, deep learning algorithms, and activation functions. Take your time to read each question carefully and select the most appropriate answer. The test aims to evaluate your knowledge and problem-solving skills relevant to AI engineering. Good luck!"*@
                                                        <label for="testDuration">Task duration (in minutes)</label><br>
                                                        <input type="number" id="testDuration" name="Duration" min="1" required><br>

                                                        <label for="testSubject">Task subject</label><br>
                                                        <select id="testSubject" name="Subject" required>
                                                            <option value="" disabled selected>Smart Digital Application</option>

                                                            <!-- Ajoutez d'autres sujets si nécessaire -->
                                                        </select><br>

                                                        <div id="questionsContainer">
                                                            <!-- Bloc de question -->
                                                        </div>

                                                        <button type="button" id="addQuestion"> Add a question</button>
                                                        <button type="button" data-toggle="modal" data-target="#addInterviewModal" id="saveTaskButton">Save Task</button>
                                                    </div>

                                                    <!-- The Modal -->
                                                    <div class="modal fade" tabindex="1000" role="dialog" id="addInterviewModal" aria-labelledby="addInterviewModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="taskSavedModalLabel">Success</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Task saved successfully!
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
</body>



<!-- Wrapper End-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.getElementById('saveTaskButton').addEventListener('click', function () {
        // Show the modal
        $('#taskSavedModal').modal('show');
        setTimeout(function () {
            document.getElementById('testForm').reset(); // Reset the form with id 'testForm'
            location.reload();

        }, 1000);
    });


    document.addEventListener('DOMContentLoaded', function () {
        var editTest = localStorage.getItem('editTest');
        if (editTest) {
            editTest = JSON.parse(editTest);

            // Remplir les champs du formulaire avec les données du test
            $('#testTitle').val(editTest.title);
            $('#testDescription').val(editTest.description);
            $('#testDuration').val(editTest.duration);
            $('#testSubject').val(editTest.subject);

            // Ajouter les questions au formulaire
            editTest.questions.forEach(function (question, index) {
                // Simuler un clic sur le bouton "Add a question"
                $('#addQuestion').trigger('click');

                // Remplir les champs de la question
                $('#questionType' + (index + 1)).val(question.type).change();
                $('#customQuestion' + (index + 1)).val(question.query);

                // Remplir les réponses de la question
                question.answers.forEach(function (answer, answerIndex) {
                    // Ajouter des options supplémentaires si nécessaire
                    if (answerIndex >= 2) { // 2 options par défaut, ajouter si plus de 2
                        addOption(index + 1);
                    }
                    $('#options' + (index + 1) + ' input[type="text"]').eq(answerIndex).val(answer.response);
                    $('#options' + (index + 1) + ' input[type="checkbox"]').eq(answerIndex).prop('checked', answer.isCorrect);
                });
            });

            // Effacer les données du Local Storage après pré-remplissage
            localStorage.removeItem('editTest');
        }
    });

    window.onload = function () {
        fetchSubjects();
    };

    function fetchSubjects() {
        fetch('/api/StageOffer/notdeleted')
            .then(response => response.json())
            .then(data => {
                var subjectSelect = document.getElementById('testSubject');
                data.forEach(subject => {
                    var option = document.createElement('option');
                    option.value = subject.id;
                    option.text = subject.titre;
                    subjectSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des sujets:', error));
    }
    var questionCounter = 1;

    document.getElementById('addQuestion').addEventListener('click', function () {
        var questionsContainer = document.getElementById('questionsContainer');
        var questionDiv = document.createElement('div');
        questionDiv.classList.add('question-container');

        var questionHTML = '<hr>' +
            '<label for="question' + questionCounter + '">Question ' + questionCounter + ':</label><br>' +

            '<label for="questionType' + questionCounter + '">Type de question:</label>' +
            '<select id="questionType' + questionCounter + '" name="questionTypes[]" onchange="toggleOptions(' + questionCounter + ')">' +
            '<option value="" disabled selected>Please choose question type</option>' +
            '<option value="qcu">QCU</option>' +
            '<option value="qcm">QCM</option>' +
            '<option value="autre">Autre</option>' +
            '</select><br><br>' +
            '<div class="question-input" id="questionInput' + questionCounter + '" style="display: none;">' + // Container for custom question input
            '<label for="customQuestion' + questionCounter + '">Enter the question:</label><br>' +
            '<input type="text" id="customQuestion' + questionCounter + '" name="customQuestions[]"><br>' +
            '</div>' +
            '<div class="response-input" id="responseInput' + questionCounter + '" style="display: none;">' + // Container for custom response input
            '<label for="customResponse' + questionCounter + '">Saisir la réponse:</label><br>' +
            '<input type="text" id="customResponse' + questionCounter + '" name="customResponses[]"><br>' +
            '</div>' +
            '<div class="option-container" id="optionsContainer' + questionCounter + '" style="display: none;">' +
            '<label for="options' + questionCounter + '">Options:</label><br>' +
            '<div id="options' + questionCounter + '">' + // Container for options
            '<input type="text" name="options' + questionCounter + '[]" required><input type="checkbox" name="correctAnswer' + questionCounter + '[]"> Correct<br>' +
            '<input type="text" name="options' + questionCounter + '[]" required><input type="checkbox" name="correctAnswer' + questionCounter + '[]"> Correct<br>' +
            '</div>' +
            '<button type="button" onclick="addOption(' + questionCounter + ')">Add Option </button>' +
            '</div>' +
            '<div class="photo-upload" id="photoUpload' + questionCounter + '" style="display: none;">' + // Container for photo upload
            // '<label for="photo' + questionCounter + '">Télécharger une photo:</label><br>' +
            // '<input type="file" id="photo' + questionCounter + '" name="photos[]"><br>' +
            // '</div>' +
            // '</div>' +
            '<div class="other-container" id="otherContainer' + questionCounter + '" style="display: none;">' +
            '</div>';

        questionDiv.innerHTML = questionHTML;
        questionsContainer.appendChild(questionDiv);

        questionCounter++;
    });

    function toggleOptions(questionNum) {
        var type = document.getElementById('questionType' + questionNum).value;
        var optionsContainer = document.getElementById('optionsContainer' + questionNum);
        var otherContainer = document.getElementById('otherContainer' + questionNum);
        var questionInput = document.getElementById('questionInput' + questionNum);
        var responseInput = document.getElementById('responseInput' + questionNum);
        var photoUpload = document.getElementById('photoUpload' + questionNum);

        if (type === 'qcu' || type === 'qcm' || type === 'autre') {
            optionsContainer.style.display = 'block';
            otherContainer.style.display = 'none';
            questionInput.style.display = 'block';
            responseInput.style.display = (type === 'autre' ? 'block' : 'none');
            photoUpload.style.display = 'block';
        } else {
            optionsContainer.style.display = 'none';
            otherContainer.style.display = 'none';
            questionInput.style.display = 'none';
            responseInput.style.display = 'none';
            photoUpload.style.display = 'none';
        }
    }

    function addOption(questionNum) {
        var optionsDiv = document.getElementById('options' + questionNum);
        var optionCount = optionsDiv.children.length / 2; // Divide by 2 because each option is accompanied by a checkbox
        var newOptionInput = document.createElement('input');
        newOptionInput.type = 'text';
        newOptionInput.name = 'options' + questionNum + '[]';
        optionsDiv.appendChild(document.createElement('br'));
        optionsDiv.appendChild(newOptionInput);

        var newCheckbox = document.createElement('input');
        newCheckbox.type = 'checkbox';
        newCheckbox.name = 'correctAnswer' + questionNum + '[]';
        optionsDiv.appendChild(newCheckbox);
        optionsDiv.appendChild(document.createTextNode(' Correct'));
        optionsDiv.appendChild(document.createElement('br'));
    }

    // Appelez la fonction fetchSubjects au chargement de la page pour charger les sujets disponibles
    window.onload = function () {
        fetchSubjects();
    };
    $(document).ready(function () {
        $('#submitTestButton').on('click', function () {
            var formData = {
                Title: $('#testTitle').val(),
                Description: $('#testDescription').val(),
                Duration: $('#testDuration').val(),
                Subject: $('#testSubject').val(),
                Questions: [] // Initialiser la liste des questions
            };

            // Vérifier si le champ 'Title' est fourni
            if (!formData.Title) {
                alert('Veuillez fournir un titre pour le test.');
                return;
            }

            // Pour chaque question dans le formulaire
            $('.question-container').each(function (index) {
                var questionType = $('#questionType' + (index + 1)).val();
                var questionText = $('#customQuestion' + (index + 1)).val();

                // Vérifier si le texte de la question est fourni
                if (!questionText) {
                    alert('Veuillez fournir un texte de question pour la Question ' + (index + 1));
                    return false; // Quitter la boucle
                }

                var question = {
                    Query: questionText,
                    Type: questionType,
                    Test: formData.Title, // Ajouter le champ 'Test'
                    Answers: [] // Initialiser la liste des réponses
                };

                // Pour chaque réponse à la question
                $('#options' + (index + 1) + ' input[type="text"]').each(function (i) {
                    var answerText = $(this).val();

                    // Vérifier si le texte de la réponse est fourni
                    if (!answerText) {
                        alert('Veuillez fournir un texte de réponse pour la Question ' + (index + 1));
                        return false; // Quitter la boucle
                    }

                    var answer = {
                        Response: answerText,
                        IsCorrect: $(this).next().prop('checked'),
                        Question: questionText // Ajouter le champ 'Question'
                    };

                    question.Answers.push(answer);
                });

                formData.Questions.push(question);
            });

            // Soumettre les données du formulaire si aucune erreur de validation n'est trouvée
            $.ajax({
                url: '/api/test/submit_test',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    console.log('Test enregistré avec succès:', response);
                    window.location.href = '@Url.Action("GestionSujets", "Home")';
                    // Ajouter la logique pour gérer la réponse du serveur ici
                },
                error: function (xhr, status, error) {
                    console.error('Erreur lors de l\'enregistrement du test:', error);
                    // Ajouter la logique pour gérer les erreurs ici
                }
            });
        });
    });














</script>















<script src="~/assets/js/backend-bundle.min.js"></script>
<!-- Chart Custom JavaScript -->
<script src="~/assets/js/customizer.js"></script>

<script src="~/assets/js/sidebar.js"></script>

<!-- Flextree Javascript-->
<script src="~/assets/js/flex-tree.min.js"></script>
<script src="~/assets/js/tree.js"></script>

<!-- Table Treeview JavaScript -->
<script src="~/assets/js/table-treeview.js"></script>

<!-- SweetAlert JavaScript -->
<script src="~/assets/js/sweetalert.js"></script>

<!-- Vectoe Map JavaScript -->
<script src="~/assets/js/vector-map-custom.js"></script>

<!-- Chart Custom JavaScript -->
<script src="~/assets/js/chart-custom.js"></script>
<script src="~/assets/js/charts/01.js"></script>
<script src="~/assets/js/charts/02.js"></script>

<!-- slider JavaScript -->
<script src="~/assets/js/slider.js"></script>

<!-- Emoji picker -->
<script src="~/assets/vendor/emoji-picker-element/index.js" type="module"></script>


<!-- app JavaScript -->
<script src="~/assets/js/app.js"></script>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js1/jquery.min.js"></script>
<script src="/js1/popper.min.js"></script>
<script src="/js1/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/js1/jquery.appear.js"></script>
<!-- Countdown JavaScript -->
<script src="/js1/countdown.min.js"></script>
<!-- Counterup JavaScript -->
<script src="/js1/waypoints.min.js"></script>
<script src="/js1/jquery.counterup.min.js"></script>
<!-- Wow JavaScript -->
<script src="/js1/wow.min.js"></script>
<!-- Apexcharts JavaScript -->
<script src="/js1/apexcharts.js"></script>
<!-- Slick JavaScript -->
<script src="/js1/slick.min.js"></script>
<!-- Select2 JavaScript -->
<script src="/js1/select2.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="/js1/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="/js1/jquery.magnific-popup.min.js"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="/js1/smooth-scrollbar.js"></script>
<!-- lottie JavaScript -->
<script src="/js1/lottie.js"></script>
<!-- Chart Custom JavaScript -->
<script src="/js1/chart-custom.js"></script>
<!-- Custom JavaScript -->
<script src="/js1/custom.js"></script>



</html>
